body{

font-family: 'Oswald', sans-serif;	

}

a{

	text-decoration: none;
	color: black;
}
.title{

    background-color: #A6834C;
    
}

.card{

	height: 200px;
    width: 15%;
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: #FAB956;
    
    text-align: center;
    overflow: hidden;
    float:left;
    box-shadow: 1px 1px 1px 1px black;

}
.card__title{
text-align: center;
overflow: hidden;
background-color:#FAB956;
display: flex;
justify-content: center;
align-items: center; 
height: 20%;
}

.card__ubicacion{

display: flex;
justify-content: center;
align-items: center;
background-color:#A6834C;
height: 70%;

}



@media (max-width: 600px) {

 

     .card{
    display: flex;
    float: unset;
    flex-direction: column;
    height: 20%;
    width: 100%;
    border-top-left-radius: revert;
    border-top-right-radius: revert;
    border-bottom-right-radius: revert;
    border-bottom-left-radius: revert;
    margin-left: -9px;
     }

  }
 .card__visitas{

    background-color:#FAB956;

 } 